<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 | Page Not Found</title>
    <link rel="stylesheet" href="/resources/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/css/main.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6 position-absolute top-50 start-50 translate-middle">
                <div class="shadow-lg p-3 mb-5 bg-body rounded text-uppercase">
                    <h2 class="tittle">404: Page Not Found</h2>
                </div>
                <div class="text-center">
                    <a href="/" class="btn btn-outline-secondary btn-lg text-uppercase">Home</a>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</body>
</html>